/*
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Passion One', cursive;
*/
/* colors
android   : a4c600
webdesign : 21759b

                         light /  dark
android circle border : ffff00 / 6d8701;
*/

.fontandroid {
	color: #a4c600;
}

.fontwebdesign {
	color: #21759b;
}

.fontios {
	color: white;
}

.bgandroid {
	background-color: #a4c600;
	color: white;
}

.bgwebdesign {
	background-color: #21759b;
	color: white;
}

.bgios {
	background-color: #333;
	color: white;
}

html, body {
	height: 100%;
}

body, p {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.75em;
}

/* header ---------------------------------------------------------------- */

.navbar-inverse {
	border-radius: 0px;
}

.navbar {
	margin-bottom: 0px;
}

h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	font-weight: 300; 
	letter-spacing : 0.15em;

	margin:15px;
	color: white;
}

nav li a {
	font-size: 18px;
	font-weight: 100;
}

/* top image ---------------------------------------------------------------- */

section#topimage {
	background-image: url("images/pc_edited.jpg");
 	/* 画像を常に天地左右の中央に配置 */
 	background-position: center center;
  	/* 画像をタイル状に繰り返し表示しない */
  	background-repeat: no-repeat;
 	/* 表示するコンテナの大きさに基づいて、背景画像を調整 */
 	background-size: cover;

	width: 100%;
	/*height: 95%; jsで窓枠ーheaderの高さで変動させる*/ 

	position: relative;
}

section#topimage section {
	position: absolute;
	top: 23%;

	width: 30%;
	background-color: rgba(0, 0, 0, 0.8);
	margin: auto 15px;
	padding: 8% 15px;

	color: white;
	letter-spacing : 0.1em;
	text-align: center;
}

section#topimage section:first-child {
	left: 15px;
}

section#topimage section:last-child {
	right: 15px;
}

section#topimage section p, section#topimage section h2 {
	/*reset for bootstrap*/
	margin: 0px;

	font-weight: 100;
}

section#topimage section p span {
	font-weight: 500;
}

section#topimage section h2 {
	padding: 0.5em 0px;
	margin: 0.5em 0px;\
	letter-spacing : 0.125em;
	font-size: 18px;
	font-weight: 300;
}

/* main contents ---------------------------------------------------------------- */

body>section {
	margin-bottom: 120px;
}

#about, #s_android, #s_ios, #s_webdesign, #works {
	padding-right: 30px;
	padding-left: 30px;
}

body>section h3 {
	font-size: 28px;
	font-weight: 300;
	margin-bottom: 30px;
}

/* main > about ---------------------------------------------------------------- */

section#about {
	text-align: center;
}

.icons img {
	width: 40px;
	height: 40px;
	margin: 30px 5px 0px 5px;
}

/* main > skills ---------------------------------------------------------------- */

section#skills {
	text-align: center;
}

section#s_android h3, section#s_ios h3, section#s_webdesign h3 {
	font-size: 24px;
	font-weight: 300;
}

section#skills p {
	font-size: 16px;
	font-weight: 100;
}

section#skills p span {
	font-size: 18px;
	font-weight: 500;
}

#s_android, #s_ios, #s_webdesign {
	padding-top: 20px;
	padding-bottom: 20px;
}

/*See here http://jsfiddle.net/zap4f/1/ */
.container4circle{
    width: 110px;
    height: 110px;
    margin: 30px;
    display: inline-block;
    /*
    margin: 100px auto;*/
}
.prec{
    top: 30px;
    position: relative;
}

.circle{
    position: relative;
    top: 5px;
    left: 5px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    /*background-color: #E6F4F7;*/
}

.active-border{
    position: relative;
    text-align: center;
    width: 110px;
    height: 110px;
    border-radius: 100%;

/*    background-color:#39B4CC;
    background-image:
        linear-gradient(91deg, transparent 50%, #A2ECFB 50%),
        linear-gradient(90deg, #A2ECFB 50%, transparent 50%);*/

    /*background-color:#ffff00;
    background-image:
        linear-gradient(91deg, transparent 50%, #6d8701 50%),
        linear-gradient(90deg, #6d8701 50%, transparent 50%);*/
    
}

/* main > works ---------------------------------------------------------------- */

/* footer (contact) ---------------------------------------------------------------- */

